<!-- Add header time permitting -->

<%- include('./partials/header.ejs'); -%>
<div class="container">
    <h1>Profile</h1>
    <h2>
      <p>Username: <%= user.userName %></p>
       <br>
      <p>Email: <%= user.email %></p> 
    </h2>
   <!--adding a post-->
    <h3>Add a post</h3>
    <form action="/post/createPost" method='POST'>
        <input type="text" placeholder="Title" name='title'>
        <input type="text" placeholder="Caption" name='caption'>
        <!-- <input type="file" placeholder="Add Image" name='filename'> -->
        <button type="submit">Submit</button>
    </form>

    <!-- all of my images that I can see on my wall-->
     <ul>
    <% for(let i=0; i < posts.length; i++) {%>
            <li class='postItem'>
            <a href="/post/<%= posts[i]._id%>">
                <img src="<%= posts[i].image %>" alt="Post by User">
            </a>
            </li>
    <% } %>    
    </ul> -->

    <a href="/feed">Go back to feed</a>
    <a href="/logout">Logout</a>
</div>
    <%- include('./partials/footer.ejs'); -%>