<%- include('./partials/header.ejs'); -%>
<div class="container">
    

    <div class="postForm mt-5">
      <h1>My Profile</h1>
      <h2><p>Hello <%= user.userName %></p></h2>
        <h3>Speak Your Spell:</h3>
        <form action="/post/createPost" enctype="multipart/form-data" method="POST">
          <div class="mb-3">
              <label for="title" class="form-label">Title</label>
              <input type="text" class="form-control" id="title" name="title">
          </div>
          <div class="mb-3">
            <label for="caption" class="form-label">The Tea</label>
            <textarea class="form-control" id="caption" name="caption"></textarea>
          </div>
          <div class="mb-3">
            <label for="imgUpload" class="form-label">Image</label>
            <input type="file" class="form-control" id="imageUpload" name="file">
          </div>
          <div class="buttons">
            <div class="buttonContainer">
                <button type="submit" class="btn effect01" value="Upload"><h4>abracadabra</h4></button>
            </div>
          </div>
          
        </form>
      </div>
   <!-- adding a post -->

    <!-- all of my images that I can see on my wall-->
    <div class="row-6 align-content-center">
      <ul class="row list-unstyled">
        <% for(var i=0; i < posts.length; i++) {%>
                <li class="col-6 justify-content-between mt-5">
                <a href="/post/<%= posts[i]._id%>">
                    <img class="img-fluid" src="<%= posts[i].image %>" alt="Post by User">
                    <span> <%= posts[i].title %> </span>
                </a>
                </li>
        <% } %>    
        </ul>
    </div>
    

    <a class="btn btnAlt" href="/feed">feed</a>
    <a class="btn btnAlt" href="/logout">logout</a>

</div>

<%- include('./partials/footer.ejs'); -%>
